<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>iotqvt</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="./lib/bootstrap-3.3.4-dist/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet"
	href="./lib/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="./style.css">
</head>
<body>
	<div class="container">
		<div ng-app="iotqvt">
			<nav class="navbar navbar-inverse">
				<div id="menu">
					<img id="profil" src="images/avatar2.jpg" alt="profil"
						class="img-circle"> <a id="nom1" href="#"
						class="navbar-link">Pseudo </a>
					<button id="parametre" type="button"
						class="btn btn-default navbar-btn">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</button>
					<button id="deconnexion" type="button"
						class="btn btn-default btn-primary navbar-btn">
						<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
					</button>
				</div>
			</nav>
			<div ng-controller="IOTCtrl as iotCtrl">
				<h1>Qualité de vie au travail et facteurs environnementaux</h1>
				<div>
					<form class="row">
						<div class="col-md-3">
							<label>Entité</label> <select class="form-control"
								ng-model="iotCtrl.entiteSelect" title="Choix de l'entité"
								ng-options="entite.regate+' '+entite.libelle for entite in iotCtrl.entites"></select>
						</div>
						<div class="col-md-3">
							<label>Pièce</label> <select class="form-control"
								ng-model="iotCtrl.pieceSelect" title="Choix de la pièce"
								ng-options="piece for piece in iotCtrl.entiteSelect.pieces"></select>
						</div>
						<div class="col-md-3">
							<label>Objet</label> <select class="form-control"
								ng-model="iotCtrl.iotSelect" title="Choix de l'object connecté"
								ng-options="iot.id for iot in iotCtrl.iots"></select>
						</div>
						<div class="col-md-3">
							<img src="images/soleil.png" ng-show="soleil" /> <img
								src="images/nuageux.png" ng-hide="soleil" />

						</div>
					</form>
				</div>
				<!--
			<div id="rasp" ng-if="iotCtrl.iotSelect!=null">
				<h2 id="titre2">
					{{iotCtrl.iotSelect.id}}
					<div ng-if="iotCtrl.iotSelect.statut=='rouge'"
						class="statut statut-rouge"></div>
					<div ng-if="iotCtrl.iotSelect.statut=='vert'"
						class="statut statut-vert"></div>
					<p id="entite">Entité</p>
					<p id="piece">Pièce</p>
				</h2>
			</div>
			-->
				<div class="row">
					<div class="capteur capteur-{{capteur.couleur}}"
						ng-repeat="capteur in iotCtrl.iotSelect.capteurs">
						<!-- 					{{capteur.couleur}} -->
						<capteur capteur="capteur"></capteur>

					</div>
				</div>
				</form>
			</div>

		</div>

	</div>
	</div>
	<script type="text/javascript" src="./lib/jquery/jquery-2.1.3.js"></script>
	<script type="text/javascript" src="./lib/angular/angular.js"></script>
	<script src="./lib/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
<!-- 	<script src="./lib/highcharts/highcharts.js"></script> -->
	<script src="./lib/highstock/highstock.js"></script>
	<script src="./lib/highcharts-ng/highcharts-ng.js"></script>
	<script src="./lib/lodash/lodash.js"></script>
	<script src="./lib/ng-range-slider/ng-range-slider.js"
		type="text/javascript"></script>


	<script src="./app/app.js"></script>

	<script src="./app/WebSocketService.js"></script>
	<script src="./app/WebServiceFactory.js"></script>
	<script src="./app/ChartCtrl.js"></script>
	<script src="./app/IOTCtrl.js"></script>
	<script src="./app/IOTService.js"></script>
	<script src="./app/CapteurCtrl.js"></script>
	<script src="./app/MesureService.js"></script>
</body>