[class*="col-md-6"] {
	background-clip: padding-box;
	border: 10px solid transparent;
	padding: 2%;
	background-color: LightSkyBlue;
	border-radius: 30px;
}

section.range-slider {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 35px;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 200px;
    outline: none;
    height: 18px;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
    width: 11px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, .15);
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

h1 {
	margin-top: 70px;
	text-align: center;
	color: #2E55C9;
	font-weight: bold;
}

#b2 {
	margin-right: 10px;
}

#meteo1 {
	background-color: #7C92F2;
}

#rechercher {
	background-color: #98A4D9;
	padding: 2%;
/* 	padding-top: 1%; */
	padding-bottom: 1%;
	border-radius: 30px;
}

