.capteur {
	background-clip: padding-box;
	border: 10px solid transparent;
	padding: 0.5% 2%;
	border-radius: 30px;
}

body {
	background-color: #4b4b4b;
}
.capteur-bleu {
	background-color: #70DAE8;
}

.capteur-orange{
	background-color: #FF887E;
}

.capteur-violet {
	background-color: #AB75FF;
}

h3 {
	color: #333333;
	font-size: 25px;
	font-weight: bold;
}

.titre3 {
	color: #4b4b4b;
	font-size: 22px;
	font-weight: bold;
}

.min {
	color: #585858;
	font-size: 18px;
}

.max {
	color: #585858;
	font-size: 18px;
}

section.range-slider {
	overflow: hidden;
	position: relative;
	width: 200px;
	height: 35px;
}

section.range-slider input {
	pointer-events: none;
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 200px;
	outline: none;
	height: 18px;
}

section.range-slider input::-webkit-slider-thumb {
	pointer-events: all;
	position: relative;
	z-index: 1;
	outline: 0;
}

section.range-slider input::-moz-range-thumb {
	pointer-events: all;
	position: relative;
	z-index: 10;
	-moz-appearance: none;
	background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
	width: 11px;
}

section.range-slider input::-moz-range-track {
	position: relative;
	z-index: -1;
	background-color: rgba(0, 0, 0, .15);
	border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
	-moz-appearance: none;
	background: none transparent;
	border: 0;
}


h1 {
	margin-top: 70px;
	text-align: center;
	color: #D7D7D7;
	font-weight: bold;
}

#profil {
	margin-left: 20px;
	margin-right: 10px;
	float: left;
}

#nom1 {
	margin-right: 20px;
	float: left;
    margin-top: 15px; 
}

#parametre {
	margin-right: 5px;
	margin-left: 5px;
	float: right;
}

#deconnexion {
	float: right;
}

#titre2 {
	text-align: left;
	font-weight: bold;
	color: #333333; 
	background-color : #E8C97A; 
	border-radius : 30px;
	padding: 1% 2%;
	margin: 2% 25%;
	border-radius: 30px;
}

#entite {
	padding-top: 2%;
	color: #585858;
	font-size: 18px;
}

#piece {
	color: #585858;
	font-size: 18px;
}

.statut {
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 100px;
	display: inline-block;
	float: right;
	margin-top: 1%;
	border: 3px solid #444444;
}

.statut-rouge {
	background-color: red;
}

.statut-vert {
	background-color: green;
}

#rechercher {
	background-color: #ADFF8B;
	padding: 2%;
	/* 	padding-top: 1%; */
	padding-bottom: 1%;
	border-radius: 30px;

}

/* .statut:hover { */
/* 	background-color: #ff0080;  */
/* 	border-radius: 100px; */
/* } */
